@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");

$font-lato: "Lato", sans-serif;
$font-roboto: "Roboto", sans-serif;

$ingredientsColor: #3282f7;
$appareilsColor: #68d9a4;
$ustensilsColor: #ed6454;

body {
  font-family: $font-lato;
  margin: 0;
  padding: 0;
}

.logo {
  color: #d04f4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 20px 0px;
}

/* Recherche de recette */
.input-group {
  height: 69px;
  margin-left: 40px;
  width: 80%;
}
.ms-err-search {
  display: flex;
  margin-left: 40px;
  display: none;
  margin-top: 10px;
  width: 100px;
}

.input-search {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}

/* menu select */

.nav {
  margin-left: 0;
  padding-left: 0;
}

.select-choix-ing,
.select-choix-app,
.select-choix-ust {
  margin: 40px;

  .select-btn-ing,
  .select-btn-app,
  .select-btn-ust {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 170px;
    height: 69px;
    border-radius: 5px;
  }

  .select-btn-ing {
    background-color: $ingredientsColor;
  }
  .select-btn-app {
    background-color: $appareilsColor;
  }
  .select-btn-ust {
    background-color: $ustensilsColor;
  }

  .search-design {
    display: flex;
    color: #ffffff;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
  }

  input {
    width: 100%;
    border: none;
    font-size: 18px;
    color: #ffffff;
  }
  .input-ing {
    background-color: $ingredientsColor;
  }
  .input-app {
    background-color: $appareilsColor;
  }
  .input-ust {
    background-color: $ustensilsColor;
  }

  input::placeholder {
    color: #ffffff;
    opacity: 0.5;
    font-weight: 700;
  }
  input:focus {
    outline: none;
  }
}

.tagItems {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 40px;
  padding: 0;

  .colorIng {
    background-color: $ingredientsColor;
  }

  .colorApp {
    background-color: $appareilsColor;
  }

  .colorUst {
    background-color: $ustensilsColor;
  }

  span {
    background-color: $ingredientsColor;
    max-width: 100px;
    margin: 5px;
    display: flex;
    height: auto;
    color: #ffffff;
    border-radius: 5px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    cursor: pointer;
  }

  b {
    align-items: center;
    margin: 5px;
  }
  .fa-regular {
    margin: 10px;
    padding: 5px;
  }
}

.listOption-ing,
.listOption-app,
.listOption-ust {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-family: $font-lato;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 18px;
  line-height: 21.6px;
  color: white;
  list-style: none;
  max-height: 600px;
  width: 100%;
  margin: 5px;

  .listItem {
    margin: 1px;
    padding: 1px;
    cursor: pointer;
  }
}

.content {
  display: flex;
  // width: 100%;
}

.closeModal-ing,
.closeModal-app,
.closeModal-ust {
  margin: 5px;
}

.ingredient {
  background-color: $ingredientsColor;
  border-radius: 5px;
  display: none;
  position: absolute;
  margin-top: -70px;
}
.appareil {
  background-color: $appareilsColor;
  border-radius: 5px;
  display: none;
  position: absolute;
  margin-top: -70px;
}
.ustensile {
  background-color: $ustensilsColor;
  border-radius: 5px;
  display: none;
  position: absolute;
  margin-top: -70px;
}

// active et cache la liste des items
.select-choix-app.active .appareil {
  display: block;
  position: relative;
  width: 300px;
  height: auto;
}

.select-choix-ust.active .ustensile {
  display: block;
  position: relative;
  width: 600px;
  height: auto;
}

.select-choix-ing.active .ingredient {
  display: block;
  position: relative;
  width: 1300px;
  height: auto;
}

/* card */
#card-item {
  margin-top: 20px;
  position: relative;
}

.displayCards {
  position: relative;
  display: flex;
  margin: 50px;
  padding: 0;
  max-height: 364px;
  max-width: 380px;
}

.recette {
  .description {
    padding: 0;
    margin: 0px 5px 5px 10px;
    height: 100%;
  }

  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-time {
      display: flex;
      align-items: center;
    }
  }

  .card-ingredients {
    min-width: 100%;
    display: flex;

    p {
      font-size: 12px;
      line-height: 12px;

      margin-left: 2px;
      margin: 0;
      padding: 0;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-family: $font-lato;
    }
    .unity {
      font-size: 12px;
    }
  }

  h4 {
    font-weight: 700;
    font-size: 18px;
    justify-items: center;
    margin: 5px;
  }
  h5 {
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    max-width: 70%;
  }
  p {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.image {
  width: 100%;
  height: 178px;
}
.description {
  display: flex;
  flex-direction: column;
  height: 100%;
  .card-recette {
    display: flex;
  }
  .ingredients {
    display: flex;
  }
}

.alert {
  width: auto;
  height: auto;
}
