@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  color: #d04f4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 20px 0px;
}

/* Recherche de recette */
.input-group {
  height: 69px;
  margin-left: 40px;
}

.input-search {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}

/* menu select */
.nav {
  margin-left: 0;
  padding-left: 0;
}

.select-choix-ing,
.select-choix-app,
.select-choix-ust {
  margin: 40px;
}
.select-choix-ing .select-btn-ing,
.select-choix-ing .select-btn-app,
.select-choix-ing .select-btn-ust,
.select-choix-app .select-btn-ing,
.select-choix-app .select-btn-app,
.select-choix-app .select-btn-ust,
.select-choix-ust .select-btn-ing,
.select-choix-ust .select-btn-app,
.select-choix-ust .select-btn-ust {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
}
.select-choix-ing .select-btn-ing,
.select-choix-app .select-btn-ing,
.select-choix-ust .select-btn-ing {
  background-color: #3282f7;
}
.select-choix-ing .select-btn-app,
.select-choix-app .select-btn-app,
.select-choix-ust .select-btn-app {
  background-color: #68d9a4;
}
.select-choix-ing .select-btn-ust,
.select-choix-app .select-btn-ust,
.select-choix-ust .select-btn-ust {
  background-color: #ed6454;
}
.select-choix-ing .search-design,
.select-choix-app .search-design,
.select-choix-ust .search-design {
  display: flex;
  color: #ffffff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.select-choix-ing input,
.select-choix-app input,
.select-choix-ust input {
  width: 100%;
  border: none;
  font-size: 18px;
  color: #ffffff;
}
.select-choix-ing .input-ing,
.select-choix-app .input-ing,
.select-choix-ust .input-ing {
  background-color: #3282f7;
}
.select-choix-ing .input-app,
.select-choix-app .input-app,
.select-choix-ust .input-app {
  background-color: #68d9a4;
}
.select-choix-ing .input-ust,
.select-choix-app .input-ust,
.select-choix-ust .input-ust {
  background-color: #ed6454;
}
.select-choix-ing input::-moz-placeholder, .select-choix-app input::-moz-placeholder, .select-choix-ust input::-moz-placeholder {
  color: #ffffff;
  opacity: 0.5;
  font-weight: 700;
}
.select-choix-ing input:-ms-input-placeholder, .select-choix-app input:-ms-input-placeholder, .select-choix-ust input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
  font-weight: 700;
}
.select-choix-ing input::placeholder,
.select-choix-app input::placeholder,
.select-choix-ust input::placeholder {
  color: #ffffff;
  opacity: 0.5;
  font-weight: 700;
}
.select-choix-ing input:focus,
.select-choix-app input:focus,
.select-choix-ust input:focus {
  outline: none;
}

.tagItems {
  background-color: #3282f7;
  max-width: 100px;
  margin: 5px;
  display: flex;
  height: auto;
  color: #ffffff;
  border-radius: 5px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  margin: 30px 0px 5px 40px;
}

.listOption-ing,
.listOption-app,
.listOption-ust {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 18px;
  line-height: 21.6px;
  color: white;
  list-style: none;
  max-height: 600px;
  width: 100%;
  margin: 5px;
}
.listOption-ing .listItem,
.listOption-app .listItem,
.listOption-ust .listItem {
  margin: 1px;
  padding: 1px;
}

.content {
  display: flex;
  width: 100%;
}

.closeModal-ing,
.closeModal-app,
.closeModal-ust {
  margin: 5px;
}

#ingredients {
  background-color: #3282f7;
  border-radius: 5px;
  display: none;
  position: absolute;
  margin-top: -70px;
  max-height: 600px;
  width: 100%;
}

#appareils {
  background-color: #68d9a4;
  border-radius: 5px;
  display: none;
  position: absolute;
  margin-top: -70px;
}

#ustensiles {
  background-color: #ed6454;
  border-radius: 5px;
  display: none;
  position: absolute;
  margin-top: -70px;
}

.select-choix-app.active #appareils {
  display: block;
  position: relative;
  width: 300px;
  height: auto;
}

.select-choix-ust.active #ustensiles {
  display: block;
  position: relative;
  width: 600px;
  height: auto;
}

.select-choix-ing.active #ingredients {
  display: block;
  position: relative;
  width: 1300px;
  height: auto;
}

/* card */
#card-item {
  margin-top: 20px;
  position: relative;
}

.displayCards {
  position: relative;
  display: flex;
  margin: 50px;
  padding: 0;
  max-height: 364px;
  max-width: 380px;
}

.recette .description {
  padding: 0;
  margin: 0px 5px 5px 10px;
  height: 100%;
}
.recette .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recette .card-title .card-time {
  display: flex;
  align-items: center;
}
.recette .card-ingredients {
  min-width: 100%;
  display: flex;
}
.recette .card-ingredients p {
  font-size: 12px;
  line-height: 12px;
  margin-left: 2px;
  margin: 0;
  padding: 0;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
.recette .card-ingredients .unity {
  font-size: 12px;
}
.recette h4 {
  font-weight: 700;
  font-size: 18px;
  justify-items: center;
  margin: 5px;
}
.recette h5 {
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  max-width: 70%;
}
.recette p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 178px;
}

.description {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.description .card-recette {
  display: flex;
}
.description .ingredients {
  display: flex;
}

.alert {
  width: auto;
  height: auto;
}/*# sourceMappingURL=style.css.map */